<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018574910910-kkvt4mna5edq414031dfqh5pkqf3ke1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018574910910-kkvt4mna5edq414031dfqh5pkqf3ke1e</string>
	<key>API_KEY</key>
	<string>AIzaSyDN1TCmJhwAEBa-J1KSgXUw9GP9b6CyyGA</string>
	<key>GCM_SENDER_ID</key>
	<string>1018574910910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iMonkOS.Level-Headed</string>
	<key>PROJECT_ID</key>
	<string>levelheadedapp</string>
	<key>STORAGE_BUCKET</key>
	<string>levelheadedapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018574910910:ios:356ca44d5fb31f397675ef</string>
</dict>
</plist>